.inputTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__span {
    width: 100%;
    margin-left: 10px;

    font-size: 20px;
    font-weight: 500;
  }
  &__checkbox {
    display: block;
    width: 16px;
    height: 16px;
  }
  &__input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
  }
  &__btn__container {
    margin-left: 10px;
    display: flex;
    gap: 10px;
  }

  &__checked {
    text-decoration: line-through;
  }
}

@media screen and (max-width: 480px) {
  .inputTask {
    &__btn__container {
      gap: 5px;
    }
    &__span {
      margin-left: 10px;

      font-size: 16px;
      font-weight: 400;
    }
  }
}
